<div>
  <%= @results[:total] %> total stores
</div>
<% @results[:stores].each_with_index do |store, i| %>
<% break if i >= 15 %>
  <div id="<%= i + 1 %>">
    <div class="name">
      <a href="/stores/<%= store[:storeId] %>"> Name: <%= store[:longName] %></a>
    </div>
    <div class="city">
      City: <%= store[:city] %>
    </div>
    <div class="distance">
      Distance: <%= store[:distance] %>
    </div>
    <div class="phone">
      Phone: <%= store[:phone] %>
    </div>
    <div class="type">
      Type: <%= store[:storeType] %>
    </div>
  </div>
<% end %>
